.predefined-option-image {
  height: 200px;
  width: auto;
  box-sizing: border-box;
  margin: .25em;
  border: none;
}

.predefined-option-image:hover {
  border: 2px solid grey;
  cursor: pointer;
}
